<div class="moves-section">
	<div class="left-section">
        <nav class="att-cond-tabs tabs" data-group="secondary">
            <a class="item " data-tab="attributes"><i class="att-cond-icon fa-solid fa-person"></i></a>
            <a class="item " data-tab="conditions"><i class="att-cond-icon fa-brands fa-creative-commons-by"></i></a>
        </nav>
        <div class="att-cond-body">
            <div class="tab" data-group="secondary" data-tab="attributes">
                <div class="attributes-container" >
                    <div class="attribute-card" >
                        <label class="attribute-title">Força</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.str.max"
                                value="{{system.attributes.str.max}}" />
                            <span>Atual: {{system.attributes.str.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Destreza</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.dex.max"
                                value="{{system.attributes.dex.max}}" />
                            <span>Atual: {{system.attributes.dex.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Percepção</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.per.max"
                                value="{{system.attributes.per.max}}" />
                            <span>Atual: {{system.attributes.per.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Inteligência</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.int.max"
                                value="{{system.attributes.int.max}}" />
                            <span>Atual: {{system.attributes.int.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Constituição</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.con.max"
                                value="{{system.attributes.con.max}}" />
                            <span>Atual: {{system.attributes.con.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Carisma</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.cha.max"
                                value="{{system.attributes.cha.max}}" />
                            <span>Atual: {{system.attributes.cha.actual}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab conditions-container" data-group="secondary" data-tab="conditions">
                <h3 class="conditions-title">Condições</h3>
                <div class="section-buttons">
                    <a class="item-create" data-type="condition"><i class="fa-solid fa-plus"></i>Adicionar condição</a>
                </div>
                <ul class="conditions-list">
                    {{#each conditions as |condition|}}
                        <li class="condition-card item" data-item-id="{{condition._id}}">
                            <span class="title">{{condition.name}}</span>
                            <div class="controls">
                                <a class="item-edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="item-delete"><i class="fa-solid fa-trash"></i></a>
                                <input class="checkbox condition-card-checkbox" type="checkbox" {{checked condition.system.isActive}} />
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
	</div>
    <div class="right-section">
        <h3>Movimentos</h3>
        <div class="section-buttons">
            <a class="add-move-btn item-create" data-type="move"><i class="fa-solid fa-plus"></i>Adicionar movimento</a>
        </div>
        {{#each movesByCategory as |category|}}
            <div class="moves-container">
                <h4 class="category-title">{{category.name}}</h4>
                <ul class="moves-list">
                    {{#each category.items as |move id|}}
                        <li class="move-card item" data-item-id="{{move._id}}">
                            <div class="info">
                                <a class="rollableWithDialog"><i class="fa-solid fa-dice-d20 animate-roll-hover roll-dice-btn"></i></a>
                                <span>{{move.name}}</span>
                            </div>
                            <div class="move-card-btns">
                                <a class="item-edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="item-delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
</div>
