<div class="advantage-level-block sheet-block">
    <h3 class="sheet-block-title">Nível de Vantagem</h3>
    <div class="block-range-part">
        {{#each advantageLevel.range as |rangeOption|}}
            <span class="
            range-option-icon-advantage-level {{#if rangeOption.actual}}active{{/if}}
            {{#if (lowerThan rangeOption.value -2)}}real-bad{{/if}}
            {{#if (lowerThan rangeOption.value 0)}}bad{{/if}}
            {{#if (equals rangeOption.value 0)}}neutral{{/if}}
            {{#if (greaterThan rangeOption.value 0)}}good{{/if}}
            {{#if (greaterThan rangeOption.value 2)}}really-good{{/if}}
            ">
                <span class="value">{{rangeOption.value}}</span>
            </span>
        {{/each}}
    </div>
</div>
<div class="momentum-block sheet-block">
    <h3 class="sheet-block-title">Momentum <img class="icon-image" src="systems/naruto2d6world/assets/icons/momentumIcon.png" name="MomentumImage"></h3>
    <div class="block-range-part">
        {{#each momentum.range as |rangeOption|}}
            <span class="
            range-option-icon-momentum {{#if rangeOption.actual}}active{{/if}}
            {{#if (lowerThan rangeOption.value 0)}}bad{{/if}}
            {{#if (equals rangeOption.value 0)}}neutral{{/if}}
            {{#if (greaterThan rangeOption.value 0)}}good{{/if}}
            ">
                <span class="value">{{rangeOption.value}}</span>
            </span>
        {{/each}}
    </div>
</div>
<div class="moves-section">
	<div class="left-section">
        <nav class="att-cond-tabs tabs" data-group="secondary">
            <a class="item " data-tab="attributes"><i class="att-cond-icon fa-solid fa-person"></i></a>
            <a class="item " data-tab="conditions"><i class="att-cond-icon fa-brands fa-creative-commons-by"></i></a>
        </nav>
        <div class="att-cond-body">
            <div class="tab" data-group="secondary" data-tab="attributes">
                <div class="attributes-container" >
                    <div class="attribute-card" >
                        <label class="attribute-title">Físico</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.bod.max"
                                value="{{system.attributes.bod.max}}" />
                            <span>Atual: {{system.attributes.bod.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Agilidade</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.agl.max"
                                value="{{system.attributes.agl.max}}" />
                            <span>Atual: {{system.attributes.agl.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Coração</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.hrt.max"
                                value="{{system.attributes.hrt.max}}" />
                            <span>Atual: {{system.attributes.hrt.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Astúcia</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.cun.max"
                                value="{{system.attributes.cun.max}}" />
                            <span>Atual: {{system.attributes.cun.actual}}</span>
                        </div>
                    </div>
                    <div class="attribute-card" >
                        <label class="attribute-title">Sombra</label>
                        <div class="attribute-values">
                            <input
                                type="number"
                                class="attribute-value"
                                name="system.attributes.shd.max"
                                value="{{system.attributes.shd.max}}" />
                            <span>Atual: {{system.attributes.shd.actual}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab conditions-container" data-group="secondary" data-tab="conditions">
                <h3 class="conditions-title">Condições</h3>
                <div class="section-buttons">
                    <a class="item-create" data-type="condition"><i class="fa-solid fa-plus"></i>Adicionar condição</a>
                </div>
                <ul class="conditions-list">
                    {{#each conditions as |condition|}}
                        <li class="condition-card item" data-item-id="{{condition._id}}">
                            <span class="title">{{condition.name}}</span>
                            <div class="controls">
                                <a class="item-edit rollable" data-roll-type="item"><i class="fa-solid fa-comment"></i></a>
                                <a class="item-edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="item-delete"><i class="fa-solid fa-trash"></i></a>
                                <input class="checkbox condition-card-checkbox" type="checkbox" {{checked condition.system.isActive}} />
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
	</div>
    <div class="right-section">
        <h3>Movimentos</h3>
        <div class="section-buttons">
            <a class="add-move-btn item-create" data-type="move"><i class="fa-solid fa-plus"></i>Adicionar movimento</a>
        </div>
        {{#each movesByCategory as |category|}}
            <div class="moves-container">
                <h4 class="category-title">{{category.name}}</h4>
                <ul class="moves-list">
                    {{#each category.items as |move id|}}
                        <li class="move-card item" data-item-id="{{move._id}}" data-tooltip="{{move.system.description}}" data-tooltip-direction="LEFT">
                            <div class="content">
                                <div class="info">
                                    <a class="rollableWithDialog"><i class="fa-solid fa-dice-d20 animate-roll-hover roll-dice-btn"></i></a>
                                    <span><a class="show-description-window-btn">{{move.name}}</a></span>
                                </div>
                                <div class="move-card-btns">
                                    <a class="item-edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="item-delete"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                            <div class="description-window display_none">
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
</div>
