<div class="skills-section">
    <div class="skills-container left-section">
        <h3>Perícias:</h3>
        <div class="section-buttons">
            <a class="add-skill-btn item-create" data-type="skill"><i class="fa-solid fa-plus"></i> Adicionar nova perícia</a>
        </div>
        <ol class="skills-list item-list">
            {{#each skills as |skill id|}}
                <li class="skill-card item" data-item-id="{{skill._id}}">
                    <div class="info">
                        <span class="title">{{skill.name}}</span>
                        <span class="rank">({{skill.system.rank.name}})</span>
                    </div>
                    <div class="skill-card-buttons">
                        <span class="skill-send-log-btn rollable" data-roll-type="skill"><a><i class="fa-solid fa-comment"></i></a></span>
                        <span class="skill-edit-btn item-edit"><a><i class="fa-solid fa-pen-to-square"></i></a></span>
                        <span class="skill-delete-btn item-delete"><a><i class="fa-solid fa-trash"></i></a></span>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
    <div class="right-section">
        <h3>Habilidades:</h3>
        <div class="section-buttons">
            <a class="add-ability-btn item-create" data-type="ability"><i class="fa-solid fa-plus"></i> Adicionar nova habilidade</a>
        </div>
        {{#each abilitiesByCategory as |category|}}
            <div class="abilities-container">
                <h4 class="category-title">{{#if category.name}}{{category.name}}{{else}}Sem Categoria{{/if}}</h4>
                <ul class="abilities-list">
                    {{#each category.items as |ability|}}
                        <li class="ability-card item" data-item-id="{{ability._id}}">
                            <div class="content">
                                <div class="info">
                                    <img src="{{ability.img}}" name="{{ability.name}}"> 
                                    <span class="name"><a class="show-description-window-btn">{{ability.name}}</a></span>
                                    <span class="level">(Nível: {{ability.system.level}})</span>
                                    {{#if ability.system.isRankable}}<span class="level">(Rank: {{ability.system.rank}})</span>{{/if}}
                                </div>
                                <div class="control">
                                    <span class="ability-send-log-btn rollable" data-roll-type="ability"><a><i class="fa-solid fa-comment"></i></a></span>
                                    <span class="ability-edit-btn item-edit"><a><i class="fa-solid fa-pen-to-square"></i></a></span>
                                    <span class="ability-delete-btn item-delete"><a><i class="fa-solid fa-trash"></i></a></span>
                                </div>
                            </div>
                            <div class="description-window display_none">
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
</div>