<div class="skills-section">
    <div class="right-section">
        <h3>Habilidades:</h3>
        <div class="section-buttons">
            <a class="add-ability-btn item-create" data-type="ability"><i class="fa-solid fa-plus"></i> Adicionar nova habilidade</a>
        </div>
        {{#each abilitiesByCategory as |category|}}
            <div class="abilities-container">
                <h4 class="category-title">{{#if category.name}}{{category.name}}{{else}}Sem Categoria{{/if}}</h4>
                <ul class="abilities-list">
                    {{#each category.items as |ability|}}
                        <li class="ability-card item" data-item-id="{{ability._id}}">
                            <div class="content">
                                <div class="info">
                                    <img src="{{ability.img}}" name="{{ability.name}}"> 
                                    <span class="name"><a class="show-ability-description-window-btn">{{ability.name}}</a></span>
                                    <span class="level">
                                        {{#if ability.system.level}}
                                            (Nível: {{ability.system.level}}
                                                {{#if ability.system.maxLevel}}
                                                    {{#if ability.system.showMaxLevel}}
                                                        /{{ability.system.maxLevel}}
                                                    {{/if}}
                                                {{/if}})
                                        {{/if}}
                                    </span>
                                    {{#if ability.system.levelDescription}}<span class="levelDescription">{{ability.system.levelDescription}}</span>{{/if}}
                                    <div class="ability-resources-tag-container">
                                        {{#each ability.system.resources as |resource|}}
                                            {{#if resource.show}}
                                                <div class="ability-resource-tag" data-resource-id="{{resource.id}}">
                                                    <span class="name">{{resource.name}}</span>
                                                    <span class="data">{{resource.value}} / {{resource.maxValue}}</span>
                                                </div>
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="control">
                                    {{#if ability.system.chakra.useChakraPoints}}
                                        <div class="chakra-tag">
                                            <img class="image" src="systems/naruto2d6world/assets/icons/chakraIcon.png" name="CP">
                                            <span class="data">{{ability.system.chakra.chakraPoints}} / {{ability.system.chakra.maxChakraPoints}}</span>
                                        </div>
                                    {{/if}}
                                    <span class="ability-send-log-btn rollable" data-roll-type="ability"><a><i class="fa-solid fa-comment"></i></a></span>
                                    <span class="ability-edit-btn item-edit"><a><i class="fa-solid fa-pen-to-square"></i></a></span>
                                    <span class="ability-delete-btn item-delete"><a><i class="fa-solid fa-trash"></i></a></span>
                                </div>
                            </div>
                            <div class="description-window">
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
</div>