.abilityRollChatTemplate{
    .info{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        img{
            width: 40px;
            border: none;
        }
        .title{
            display: flex;
            flex-direction: column;
            gap: 3px;
            width: 100%;
            h3{
                flex-grow: 1;
                padding: 0;
                font-size: 1.7em;
                margin: 0;
                border: 0;
            }
        }

    }
    .chakra-message-content{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .chakra-change-display{
            display: flex;
            align-items: center;
            gap: 5px;
            img{
                width: 20px;
                border: none;
            }
            .chakra-change-value{
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
}