.rollCard{
    line-height: normal;
    .rollcard-title{
        /* border-bottom: 1px solid $c-beige; */
        border: 0;
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
        color: #4b4a44;
    }
    .rollcard-content{
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid $c-beige;
    }
    .rollcard-category{
        text-align: center;
    }
    
    .moveDetailsArea{
        display: flex;
        flex-direction: column;
        line-height: 20px;
        padding: 10px 4px;
    }
    .rolls{
        display: flex;
        .actionDiceDisplayPart{
            border-right: 1px solid $c-beige;
        }
        .rollDisplayPart{
            display: flex;
            width: 100%;
            .rollDisplay{
                border-radius: 3px;
                padding: 6px 12px;
                width: 100%;
                text-align: center;
                font-weight: bold;
                padding: 2px 4px;
                margin: 2px 4px;
            }
            .actionDiceDisplay{
                background-color: $c-beige;
            }
            .challengeDiceDisplay{
                background-color: $c-faint;
            }
        }
    }
    .resultDisplay{
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        width: 100%;
        display: block;
        margin-top: 6px;
    }
    .resultDisplay.result-0{
        background-color: $c-red-fail;
    }
    .resultDisplay.result-1{
        background-color: $c-blue-partial-success;
    }
    .resultDisplay.result-2{
        background-color: $c-green-success;
    }
    .reroll-buttons{
        display: flex;
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid $c-beige;
        .reroll-dice{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            img{
                pointer-events: none;
            }
            .burn-momentum-icon{
                width: 45px;
            }
            /* img{
                width: 20px;
                height: 20px;
                border: none;
            } */
        }
    }
}
.move-card-roll-details{
    blockquote{
        margin: 0;
        padding: 0;
        border: 0;
    }
}