<div class="background-container"></div>
<form class="{{cssClass}} {{actor.type}} flexcol actor-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="large-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{#unless limited}}
      <div class="resource grid grid-2col">
        <div class="resource-card resource-rank-card">
          <label for="system.health.value" class="resource-label">Rank</label>
          <input class="rank-input" type="text" name="system.params.rank" value="{{system.params.rank}}"/>
        </div>
        <div class="resource-card">
          <label class="resource-label">XP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.params.xp.actual" value="{{system.params.xp.actual}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
      <div class="resources grid grid-2col">
        <div class="resource-card">
          <label for="system.health.value" class="resource-label"><img class="header-icon" src="systems/naruto2d6world/assets/icons/woundIcon.png" name="Ferimentos"> Ferimentos</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.wounds.value" value="{{system.wounds.value}}" data-dtype="Number"/>
            <span>/</span>
            <input type="text" name="system.wounds.max" value="{{system.wounds.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource-card">
          <label for="system.health.value" class="resource-label"><img class="header-icon" src="systems/naruto2d6world/assets/icons/chakraIcon.png" name="Chakra"> Chakra</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.chakra.value" value="{{system.chakra.value}}" data-dtype="Number"/>
            <span>/</span>
            <input type="text" name="system.chakra.max" value="{{system.chakra.max}}" data-dtype="Number"/>
          </div>
        </div>
        </div>
      {{/unless}}
      </div>
    </div>
  </header>
  <!-- <img src="/systems/naruto2d6world/assets/1235px-Mudra-Naruto-Chevre.svg.png"> -->

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Descrição</a>
    {{#unless limited}}
      <a class="item" data-tab="moves">Movimentos</a>
      <a class="item" data-tab="skills">Habilidades</a>
      <a class="item" data-tab="iventory">Iventário</a>
      <a class="item" data-tab="effects">Efeitos</a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{> "systems/naruto2d6world/templates/actor/parts/actor-description.html"}}
    </div>
    {{#unless limited}}
      {{!-- Owned moves Tab --}}
      <div class="tab moves" data-group="primary" data-tab="moves">
        {{> "systems/naruto2d6world/templates/actor/parts/actor-moves.html"}}
      </div>

      {{!-- Owned skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/naruto2d6world/templates/actor/parts/actor-skills.html"}}
      </div>

      <div class="tab effects" data-group="primary" data-tab="iventory">
        {{> "systems/naruto2d6world/templates/actor/parts/actor-items.html"}}
      </div>

      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/naruto2d6world/templates/actor/parts/actor-effects.html"}}
      </div>
    {{/unless}}
  </section>
</form>

