<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="large-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource-content flexrow flex-center">
          <label for="system.params.village">Aldeia:</label>
          <input type="text" name="system.params.village" value="{{system.params.village}}" >
        </div>
        <div class="resource-content flexrow flex-center">
            <label for="system.params.clan">Clã:</label>
            <input type="text" name="system.params.clan" value="{{system.params.clan}}" >
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource-content flexrow flex-center">
            <label for="system.params.age">Idade:</label>
            <input type="text" name="system.params.age" value="{{system.params.age}}" >
        </div>
        <div class="resource-content flexrow flex-center">
            <label for="system.params.age">Rank:</label>
            <input type="text" name="system.params.rank" value="{{system.params.rank}}" >
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Descrição</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
    <!-- <div class="biography"> -->
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      <!-- {{> "systems/naruto2d6world/templates/actor/parts/actor-description-npc.html"}}
       -->
       <h3>Biografia</h3>
        {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>

