<div class="character-tracker-panel">
<section class="character-tracker-master-nv">
  <header class="character-tracker-toolbar">
    <span class="character-tracker-title">NVs Globais do Mestre</span>
    {{#if canManage}}
      <div class="character-tracker-toolbar-actions">
        <button type="button" class="character-tracker-add" data-action="addMasterGlobal" data-tooltip="Adicionar NV global"><i class="fa-solid fa-plus"></i></button>
        <button type="button" class="character-tracker-clear" data-action="clearMasterGlobal" data-tooltip="Remover todos os NVs globais"><i class="fa-solid fa-broom"></i></button>
      </div>
    {{/if}}
  </header>
  <ol class="character-tracker-master-list">
    {{#each masterGlobalModifiers}}
      <li class="character-tracker-master-entry">
        <span>{{name}}</span><strong>{{#if (greaterThan value 0)}}+{{/if}}{{value}} NV</strong>
        {{#if ../canManage}}<button type="button" class="character-tracker-remove" data-action="removeMasterGlobal" data-modifier-id="{{id}}" data-tooltip="Remover modificador"><i class="fa-solid fa-xmark"></i></button>{{/if}}
      </li>
    {{else}}
      <li class="character-tracker-master-empty">Nenhum NV global ativo.</li>
    {{/each}}
  </ol>
</section>

<div class="character-tracker-root">
  <header class="character-tracker-toolbar">
    <span class="character-tracker-title">Personagens</span>
    {{#if canManage}}
      <div class="character-tracker-toolbar-actions">
        <button type="button" class="character-tracker-add" data-action="addSelected" data-tooltip="Adicionar tokens selecionados">
          <i class="fa-solid fa-plus"></i>
        </button>
        <button type="button" class="character-tracker-clear" data-action="clearAll" data-tooltip="Limpar rastreador">
          <i class="fa-solid fa-broom"></i>
        </button>
      </div>
    {{/if}}
  </header>

  <ol class="character-tracker-list">
    {{#each actors}}
      <li class="character-tracker-entry" data-actor-id="{{id}}" data-actor-uuid="{{uuid}}">
        <img class="character-tracker-portrait" src="{{img}}" alt="{{name}}">
        <div class="character-tracker-data">
          <span class="character-tracker-name">{{name}}</span>
          <div class="character-tracker-resources">
            <span data-tooltip="Ferimentos"><img src="systems/naruto2d6world/assets/icons/woundIcon.png" alt="">{{wounds}}/{{woundsMax}}</span>
            <span data-tooltip="Chakra"><img src="systems/naruto2d6world/assets/icons/chakraIcon.png" alt="">{{chakra}}</span>
            <span data-tooltip="Armadura"><img src="systems/naruto2d6world/assets/icons/shieldIcon.png" alt="">{{armor}}</span>
            {{#if isCharacter}}
              <span data-tooltip="Momentum"><img src="systems/naruto2d6world/assets/icons/momentumIcon.png" alt="">{{momentum}}</span>
              <span data-tooltip="Vontade do Fogo"><img src="systems/naruto2d6world/assets/icons/fireWillIcon.png" alt="">{{fireWill}}</span>
              <span class="character-tracker-nv" data-tooltip="Nível de Vantagem">NV {{nv}}</span>
            {{/if}}
          </div>
        </div>
        {{#if ../canManage}}
          <button type="button" class="character-tracker-remove" data-action="removeTracked" data-actor-uuid="{{uuid}}" data-tooltip="Remover do rastreador">
            <i class="fa-solid fa-xmark"></i>
          </button>
        {{/if}}
      </li>
    {{else}}
      <li class="character-tracker-empty">Nenhum personagem adicionado.</li>
    {{/each}}
  </ol>
</div>
</div>
