// .sheet-header {
// 	.header-fields{
// 		.charname{
// 			font-family: naruto;
// 		}
// 	}
// }

.background-container {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('/systems/naruto2d6world/assets/Estilo_de_Selamento_de_Oito_Trigramas.svg') no-repeat center center; 
    background-size: cover;
	opacity: 0.03; /* Opacidade da imagem SVG (0 = transparente, 1 = opaco) */
	z-index: 0.01; /* Coloca o contêiner atrás do conteúdo principal */
}
.actor-sheet{
	z-index: 1;
}

.resource-card {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: space-between;
	padding: 3px;
	border: 1px dotted $c-beige;
	border-right: 0;
	border-left: 0;

	.rank-input{
		width: 7em;
	}
	input {
		width: 2em;
		text-align: center;
	}
	.resource-content {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		span {
			flex-grow: 0;
		}
	}
}

.moves-section {
	
	
	display: flex;
	gap: 10px;
	.left-section {
		width: 200px;
		h3{
			padding: 8px 0;
			border-bottom: 1px solid $c-beige;
			margin: 0;
		}
		.section-buttons {
			width: 100%;
			border-bottom: 1px solid $c-beige;
			padding: 10px 0;
		}
		.tab {
			width: 100%;
		}
		.tabs {
			padding: 5px 0;
			border-left: 1px solid $c-beige;
			border-right: 1px solid $c-beige;
		}
		.att-cond-tabs{
			font-size: 20px;
		}
		.attributes-container {
			width: 100%;
			max-width: 200px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			.attribute-card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border: 1px solid $c-beige;
				border-radius: 3px;
				gap: 5px;
				padding: 5px;
				.attribute-title {
					font-weight: bold;
				}
				.attribute-values {
					border-top: 1px solid $c-beige;
					padding-top: 5px;
					display: flex;
					align-items: center;
					gap: 5px;
					width: 100%;
					justify-content: center;
					.attribute-value {
						width: 2em;
						text-align: center;
					}
				}
			}
		}
		.conditions-container {
			width: 100%;
			max-width: 200px;
			border-right: 1px solid $c-beige;
			.conditions-list {
				list-style: none;
				padding: 0;
				margin: 0;
				.condition-card {
					padding: 0;
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $c-beige;
                    .controls{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
				}
			}
		}
	}
	.right-section {
		display: flex;
		flex-direction: column;
		align-items: normal;
		width: 100%;
		h3{
			padding: 8px 0;
			border-bottom: 1px solid $c-beige;
			margin: 0;
		}
		.section-buttons {
			width: 100%;
			border-bottom: 1px solid $c-beige;
			padding: 10px 0;
		}
		.moves-container{
			.category-title{
				margin: 0.7rem 0;
				font-weight: bold;
			}
			.moves-list {
				list-style: none;
				padding: 0;
				margin: 0;
				.move-card {
					border-bottom: 1px solid $c-beige;
					padding: 4px 0;
					.content{
						display: flex;
						justify-content: space-between;
						align-items: center;
						.info {
							display: flex;
							align-items: center;
							gap: 5px;
							.roll-dice-btn {
								font-size: 18px;
							}
						}
						.move-card-btns {
							display: flex;
							gap: 5px;
						}
					}
				}
			}
		}
	}
}

.skills-section {
    display: flex;
		h3{
			padding: 8px 0;
			border-bottom: 1px solid $c-beige;
			margin: 0;
		}
		.section-buttons {
			width: 100%;
			border-bottom: 1px solid $c-beige;
			padding: 10px 0;
		}
	.skills-container {
        width: 100%;
        max-width: 250px;
		margin-right: 10px;
		.skills-list {
			list-style: none;
			padding: 0;
			margin: 0;
			.skill-card {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $c-beige;
				padding: 5px 0;
				.info {
					display: flex;
					gap: 5px;
					align-items: center;
					.rank {
						font-size: 12px;
					}
				}
				.skill-card-buttons {
					display: flex;
					gap: 5px;
					font-weight: bold;
				}
			}
		}
	}
    .abilities-container{
        flex-grow: 1;
		padding-left: 10px;
		border-left: 1px solid $c-beige;
        .abilities-list{
            list-style: none;
            margin: 0;
            padding: 0;
            .ability-card{
				border-bottom: 1px solid $c-beige;
				padding: 5px 0;
				.content{
					display: flex ;
					justify-content: space-between;
					align-items: center;
					.info{
						display: flex;
						align-items: center;
						gap: 5px;
						img{
							width: 30px;
							border: none;
						}
						.level{
							font-size: 0.8em;
						}
					}
				}
            }
        }
    }

}

.iventory-section{
	.iventory-attributes{
		margin-top: 10px;
		.above-space{
			color: red;
			font-weight: bold;
		}
	}
	h3{
		padding: 8px 0;
		border-bottom: 1px solid $c-beige;
		margin: 0;
	}
	.section-buttons{
		width: 100%;
		border-bottom: 1px solid #b5b3a4;
		padding: 10px 0;
	}
	.iventory-list{
		list-style: none;
		margin: 0;
		padding: 0;
		.item-card{
			border-bottom: 1px solid $c-beige;
			padding: 5px 0;
			.content{
				display: flex ;
				justify-content: space-between;
				align-items: center;
				.info{
					display: flex;
					align-items: center;
					img{
						width: 30px;
						border: none;
						margin-right: 10px;
					}
					.item-attributes{
						display: flex;
						gap: 5px;
						margin-left: 10px;
						font-size: 0.8em;
					}
				}
			}
			
		}
	}
    
}
