@keyframes slideUpDown {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-1.5px);
    }
	50%{
		transform: translateY(0);
	}
    75% {
      transform: translateY(1.5px);
    }
	100% {
		transform: translateY(0);
	}
}

.sheet.actor{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
  
.sheet-header {
	.large-profile-img{
		width: 190px;
		height: 190px;
	}
	.header-fields{
		/* .charname{
			font-family: naruto;
		} */
		.resource-label{
			display: flex;
			align-items: center;
			.header-icon{
				max-width: 25px;
				max-height: 25px;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}

	
}

.background-container {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('/systems/naruto2d6world/assets/Estilo_de_Selamento_de_Oito_Trigramas.svg') no-repeat center center; 
    background-size: cover;
	opacity: 0.03; /* Opacidade da imagem SVG (0 = transparente, 1 = opaco) */
	z-index: 0.01; /* Coloca o contêiner atrás do conteúdo principal */
}
.actor-sheet{
	z-index: 1;
}

.resource-card {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: space-between;
	padding: 3px;
	border: 1px dotted $c-beige;
	border-right: 0;
	border-left: 0;

	.rank-input{
		width: 7em;
	}
	input {
		width: 2em;
		text-align: center;
	}
	.resource-content {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		span {
			flex-grow: 0;
		}
	}
}

.moves{
	.sheet-block{
		border-bottom: 1px solid $c-beige;
		padding-bottom: 2px;
		margin-bottom: 2px;
		.sheet-block-title{
			display: flex;
			align-items: center;
			gap: 5px;
		}
		h3{
			border: 0;
			margin: 0;
		}
		.block-range-part{
			display: flex;
			width: 100%;
			gap: 5px;
			padding: 5px;

		}
	}
	.advantage-level-block{
		.range-option-icon-advantage-level{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 3px;
			flex-grow: 1;
			cursor: pointer;
			transition: .1s;
			border: 2px solid transparent;
			box-sizing: border-box;
		}
		.range-option-icon-advantage-level:hover{
			filter: brightness(0.9);
		}
		.active{
			border: 1px solid #664007;
			border-radius: 3px;
			box-shadow: 0px 0px 3px 2px #e792139a;
		}
		.value{
			pointer-events: none;
		}
		
		.bad{
			background-color: #d85c6070;
			color: white;
		}
		.real-bad{
			background-color: #b40309a1;
			color: white;
		}
		.neutral{
			background-color: #79797970;
			color: white;
		}
		.good{
			background-color: #42c45470;
			color: white;
		}
		.really-good{
			background-color: #038a1591;
			color: white;
		}
		
	}
	.momentum-block{
		.range-option-icon-momentum{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 3px;
			flex-grow: 1;
			cursor: pointer;
			transition: .1s;
			border: 2px solid transparent;
			box-sizing: border-box;
		}
		.range-option-icon-momentum:hover{
			filter: brightness(0.9);
		}
		.value{
			pointer-events: none;
		}
		.active{
			border: 1px solid #664007;
			border-radius: 3px;
			box-shadow: 0px 0px 3px 2px #e792139a;
		}
		
		.bad{
			background-color: #2e2e2e;
			color: white;
		}
		.neutral{
			background-color: #5f5f5f;
			color: white;
		}
		.good{
			background-color: #979797;
			color: white;
		}
	}
	.moves-section {
		display: flex;
		gap: 10px;
		.left-section {
			width: 200px;
			h3{
				padding: 8px 0;
				border-bottom: 1px solid $c-beige;
				margin: 0;
			}
			.section-buttons {
				width: 100%;
				border-bottom: 1px solid $c-beige;
				padding: 10px 0;
			}
			.tab {
				width: 100%;
			}
			.tabs {
				padding: 5px 0;
				border-left: 1px solid $c-beige;
				border-right: 1px solid $c-beige;
			}
			.att-cond-tabs{
				font-size: 20px;
			}
			.attributes-container {
				width: 100%;
				max-width: 200px;
				display: flex;
				flex-direction: column;
				gap: 5px;
				.attribute-card {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border: 1px solid $c-beige;
					border-radius: 3px;
					gap: 5px;
					padding: 5px;
					.attribute-title {
						font-weight: bold;
					}
					.attribute-values {
						border-top: 1px solid $c-beige;
						padding-top: 5px;
						display: flex;
						align-items: center;
						gap: 5px;
						width: 100%;
						justify-content: center;
						.attribute-value {
							width: 2em;
							text-align: center;
						}
					}
				}
			}
			.conditions-container {
				width: 100%;
				max-width: 200px;
				border-right: 1px solid $c-beige;
				.conditions-list {
					list-style: none;
					padding: 0;
					margin: 0;
					.condition-card {
						padding: 0;
						margin: 0;
						display: flex;
						align-items: center;
						justify-content: space-between;
						border-bottom: 1px solid $c-beige;
						.controls{
							display: flex;
							align-items: center;
							gap: 5px;
						}
					}
				}
			}
		}
		.right-section {
			display: flex;
			flex-direction: column;
			align-items: normal;
			width: 100%;
			h3{
				padding: 8px 0;
				border-bottom: 1px solid $c-beige;
				margin: 0;
			}
			.section-buttons {
				width: 100%;
				border-bottom: 1px solid $c-beige;
				padding: 10px 0;
			}
			.moves-container{
				.category-title{
					margin: 0.7rem 0;
					font-weight: bold;
				}
				.moves-list {
					list-style: none;
					padding: 0;
					margin: 0;
					.move-card {
						border-bottom: 1px solid $c-beige;
						padding: 4px 0;
						.content{
							display: flex;
							justify-content: space-between;
							align-items: center;
							.info {
								display: flex;
								align-items: center;
								gap: 5px;
								.roll-dice-btn {
									font-size: 18px;
								}
							}
							.move-card-btns {
								display: flex;
								gap: 5px;
							}
						}
						.description-window{
							.item-description{
								background-color: #0000001e;
								border-radius: 3px;
								padding: 10px 5px;

							}
						}
					}
				}
			}
		}
	}
}

.skills-section {
    display: flex;
		h3{
			padding: 8px 0;
			border-bottom: 1px solid $c-beige;
			margin: 0;
		}
		.section-buttons {
			width: 100%;
			border-bottom: 1px solid $c-beige;
			padding: 10px 0;
		}
	// .skills-container {
    //     width: 100%;
    //     max-width: 250px;
	// 	margin-right: 10px;
	// 	.skills-list {
	// 		list-style: none;
	// 		padding: 0;
	// 		margin: 0;
	// 		.skill-card {
	// 			display: flex;
	// 			justify-content: space-between;
	// 			align-items: center;
	// 			border-bottom: 1px solid $c-beige;
	// 			padding: 5px 0;
	// 			.info {
	// 				display: flex;
	// 				gap: 5px;
	// 				align-items: center;
	// 				.rank {
	// 					font-size: 12px;
	// 				}
	// 			}
	// 			.skill-card-buttons {
	// 				display: flex;
	// 				gap: 5px;
	// 				font-weight: bold;
	// 			}
	// 		}
	// 	}
	// }
    .right-section{
        // flex-grow: 1;
		// padding-left: 10px;
		// border-left: 1px solid $c-beige;
		width: 100%;
		.abilities-container{
			.category-title{
				margin: 0.7rem 0;
				font-weight: bold;
			}
			.abilities-list{
				list-style: none;
				margin: 0;
				padding: 0;
				.ability-card{
					border-bottom: 1px solid $c-beige;
					padding: 5px 0;
					.content{
						display: flex ;
						justify-content: space-between;
						align-items: center;
						overflow-x: auto;
						.info{
							display: flex;
							align-items: center;
							gap: 5px;
							img{
								width: 30px;
								border: none;
							}
							.level, .levelDescription{
								font-size: 0.8em;
							}
							.level{
								white-space: nowrap;
							}
							.levelDescription{
								white-space: nowrap;
								overflow-x: auto;
							}
							.ability-resources-tag-container{
								display: flex;
								align-items: center;
								gap: 5px;
								overflow-x: auto;
								.ability-resource-tag{
									border: 1px solid $c-beige;
									border-radius: 6px;
									padding: 3px 6px;
									display: flex;
									align-items: center;
									cursor: pointer;
									transition: .1s;
									span{
										font-size: 0.8em;
										white-space: nowrap;
									}
									.data{
										padding-left: 3px;
										margin-left: 3px;
										border-left: 1px solid $c-beige;
									}
									
								}
								.ability-resource-tag:hover{
									filter: brightness(1.5);
								}
							}
							
						}
						.control{
							display: flex;
							align-items: center;
							gap: 5px;
							.chakra-tag{
								display: flex;
								align-items: center;
								color: $c-chakra-line;
								font-weight: bold;
								cursor: pointer;
								margin: 0 5px;
								span{
									white-space: nowrap;
								}
								img{
									width: 20px;
									min-width: 20px;
									border: none;
									overflow: visible;
									position: relative;
									transition: .1s;
									
								}
								img:hover{
									animation: slideUpDown 1s infinite linear;
									filter: brightness(1.5);
								}
								.data{
									padding-left: 3px;
									margin-left: 3px;
									border-left: 1px solid $c-chakra-line;
								}
							}
						}
					}
				}
			}
		}
    }

}

.iventory-section{
	.iventory-attributes{
		margin-top: 10px;
	}
	h3{
		padding: 8px 0;
		border-bottom: 1px solid $c-beige;
		margin: 0;
		.above-space{
			color: red;
			font-weight: bold;
		}
	}
	.section-buttons{
		width: 100%;
		border-bottom: 1px solid #b5b3a4;
		padding: 10px 0;
	}
	.iventory-container{
		.category-title{
			margin: 0.7rem 0;
			font-weight: bold;
		}
		.iventory-list{
			list-style: none;
			margin: 0;
			padding: 0;
			.item-card{
				border-top: 1px solid $c-beige;
				padding: 5px 0;
				.content{
					display: flex ;
					justify-content: space-between;
					align-items: center;
					.info{
						display: flex;
						align-items: center;
						img{
							width: 30px;
							border: none;
							margin-right: 10px;
						}
						.item-attributes{
							display: flex;
							align-items: center;
							gap: 5px;
							margin-left: 10px;
							font-size: 0.8em;
							.quantity{
								cursor: pointer;
							}
							.quantity:hover{
								filter: brightness(1.5);
							}
							.item-card-attribute-tag{
								border: 1px solid $c-beige;
								border-radius: 6px;
								padding: 3px 6px;
								display: flex;
								align-items: center;
								cursor: pointer;
								.data{
									padding-left: 3px;
									margin-left: 3px;
									border-left: 1px solid $c-beige;
								}
							}
							.item-card-attribute-tag:hover{
								filter: brightness(1.5);
							}
						}
					}
				}
				.description-window-opened{
					margin: 10px;
					padding: 10px ;
				}
				.description-window{
					background-color: #0000001e;
					border-radius: 3px;
					.item-scroll-items{
						h3{
							border-bottom: 0;
							font-size: 16px;
						}
						.item-scroll-items-list{
							margin: 0;
							.scroll-item-card{
								padding: 3px 0;
								display: flex;
								justify-content: space-between;
								align-items: center;
								border-top: 1px solid $c-beige;
								.info{
									display: flex;
									align-items: center;
									img{
										width: 25px;
										border: none;
									}
									.scroll-item-attributes{
										display: flex;
										align-items: center;
										gap: 5px;
										margin-left: 10px;
										font-size: 0.8em;
										.quantity{
											cursor: pointer;
										}
										.quantity:hover{
											filter: brightness(1.5);
										}
									}
								}
							}
						}
					}
				}
				
			}
		}
	}
    
}

.advantage-level-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 10px;
	gap: 5px;
	padding: 5px;
	border: 1px solid $c-beige;
	border-radius: 3px;
	h3{
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		font-size: 1.1em;
		font-weight: bold;
		border: none;
	}
	.panel{
		border: 1px solid $c-beige;
		border-radius: 3px;
		padding: 5px 10px;
		min-width: 50px;
		width: 100%;
		text-align: center;
		/* background-color: #0000001e; */
		display: flex;
		flex-direction: column;
		gap: 3px;
		justify-content: center;
		.nv{
			font-size: 1em;
			font-weight: bold;
		}
		.val{
			font-size: 1.2em;
			font-weight: bold;
		}
	}
	.bad{
		background-color: #d85c6070;
	}
	.real-bad{
		background-color: #b40309a1;
	}
	.neutral{
		background-color: #79797970;
	}
	.good{
		background-color: #42c45470;
	}
	.really-good{
		background-color: #038a1591;
	}
	.controls{
		display: flex;
		gap: 5px;
		width: 100%;
		button{
			border: none;
			border: 1px solid $c-beige;
			border-radius: 3px;
		}
		button:hover{
			filter: brightness(1.5);
		}
	}
}