/* GLOBAL */
header {
	.header-fields {
		input {
			background-color: rgba(0, 0, 0, 0.05);
			border: 1px solid var(--color-border-light-tertiary);
			border-radius: 3px;
			padding: 3px;
		}
	}
}
.section-button{
	width: 100%;
	border-bottom: 1px solid #b5b3a4;
	padding: 10px 0;
}
/*  */
.item-move-sheet{
	.move-attributes-list {
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
		.move-attributes-card {
			display: flex;
			align-items: center;
		}
	}
}
.item-condition-sheet{
	.condition-attributes-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		padding: 0;
		margin: 0;
		margin-top: 10px;
		.conditions-attributes-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5px 10px;
			border: 1px solid $c-beige;
			border-radius: 3px;
			gap: 5px;
			width: 30%;
			text-align: center;
		}
	}
	.condition-moves-config-container {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid $c-beige;
		display: flex;
		flex-direction: column;
		gap: 10px;
		.add-condition-move-config {
			font-weight: bold;
			width: 100%;
		}
		.condition-moves-config-list {
			list-style: none;
			padding: 0;
			margin: 0;
			.condition-moves-config-card {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding: 10px;
				border: 1px solid $c-beige;
				.info{
					
					h3{
						border-bottom: 1px solid $c-beige;
					}
					.input-name{
						align-items: center;
					justify-content: space-between;
						display: flex;
						gap: 5px;
						label{
							width: 30%;
						}
					}
				}
				.attributes-configs-container {
					.attributes-configs-list {
						display: flex;
						list-style: none;
						padding: 0;
						margin: 0;
						gap: 10px;
						flex-wrap: wrap;
						.attributes-configs-card{
							border: 1px solid $c-beige;
							padding: 5px 10px;
							border-radius: 3px;
							.info{
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 5px;
								input{
									width: 3em;
								}
							}
						}
					}
				}
				.control{
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}
.item-ability-sheet{
	.chakra-points-container{
		.data{
			display: flex;
			align-items: center;
		}
	}
	.ability-resources-container{
		.ability-resources-list{
			padding: 0;
			margin: 0;
			list-style: none;
			.ability-resources-card{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 5px 0;
				padding: 5px 0;
				border-bottom: 1px solid $c-beige;
				.data{
					display: flex;
					align-items: center;
					gap: 5px;
					div{
						display: flex;
						align-items: center;
						gap: 5px;
						input{
							max-width: 3em;
						}
						[data-input-objective="name"]{
							max-width: none;
							flex-grow: 1;
						}
					}
				}
				.control{
					margin-left: 5px;
				}
			}
		}
	}
	.level-descriptions-list{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 10px;
		.level-descriptions-card{
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $c-beige;
			padding-bottom: 10px;
			.data{
				display: flex;
				gap: 5px;
				div{
					display: flex;
					align-items: center;
					gap: 5px;
					[data-input-objective="level"]{
						width: 3em;
						text-align: center;
					}
				}
			}
			.controls{
				display: flex;
				align-items: center;
			}
		}
	}
}
.item-skill-sheet{
	.rank-controller{
		display: flex;
		gap: 5px;
		align-items: center;
	}
}
.item-item-sheet{
	.item-attribute-container{
		.attributes-list{
			list-style: none;
			padding: 0;
			margin: 0;
			.item-attribute-card{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 5px 0;
				padding: 5px 0;
				border-bottom: 1px solid $c-beige;
				.data{
					display: flex;
					align-items: center;
					gap: 20px;
					div{
						display: flex;
						align-items: center;
						gap: 5px;
						input{
							max-width: 3em;
						}
						[data-input-objective="name"]{
							max-width: none;
							flex-grow: 1;
						}
					}
				}
			}
		}
	}
}