<form class="{{cssClass}} item-item-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if system.scroll.isScroll}}<a class="item" data-tab="scroll">Pergaminho</a>{{/if}}
    {{#unless limited}}<a class="item" data-tab="attributes">Attributes</a>{{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    {{#unless limited}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="grid grid-2scol">
        <div class="resource">
          <label class="resource-label">Category</label>
          <input type="text" name="system.category" value="{{system.category}}" data-dtype="Text"/>
        </div>
        <div class="resource">
          <label class="resource-label">Custo</label>
          <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
        </div>
      </div>
      <div class="grid grid-2scol">
        <div class="resource">
          <label class="resource-label">Espaço Ocupado
          </label>
          <input type="text" name="system.slots" value="{{system.slots}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Bônus de Espaço
          </label>
          <input type="text" name="system.slots_bonus" value="{{system.slots_bonus}}" data-dtype="Number"/>
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantidade</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Considerar Slots Consumidos:</label>
          <input type="checkbox" name="system.considerSlots" {{checked system.considerSlots}}>
        </div>
      </div>
      <div class="grid grid-2scol">
        <div class="resource">
          <label class="resource-label">Is Scroll</label>
          <input type="checkbox" name="system.scroll.isScroll" {{checked system.scroll.isScroll}}>
        </div>
      </div>
      <div class="item-attribute-container">
        <div class="section-button">
          <a class="add-item-attribute"><i class="fa-solid fa-plus"></i> Add Attribute</a>
        </div>
        <ul class="attributes-list">
          {{#each system.attributes as |attribute|}}
            <li class="item-attribute-card" data-item-id="{{attribute.id}}">
              <div class="data">
                <div>
                  <span>Name:</span>
                  <input class="item-attribute-input" type="text" value="{{attribute.name}}" data-input-objective="name">
                </div>
                <div>
                  <span>Value:</span>
                  <input class="item-attribute-input" type="text" value="{{attribute.value}}" data-input-objective="value">
                </div>
                <div>
                  <span>Max value:</span>
                  <input class="item-attribute-input" type="text" value="{{attribute.maxValue}}" data-input-objective="maxValue">
                </div>
                <!-- <label class="item-attribute-name">{{attribute.name}}</label> -->
                <!-- <div>
                  <span>Level:</span>
                  <input class="level-description-input" type="text" value="{{levelDescription.level}}" data-input-objective="level">
                </div>
                <div>
                  <span>Description:</span>
                  <input class="level-description-input" type="text" value="{{levelDescription.description}}" data-input-objective="description">
                </div> -->
              </div>
              <div class="controls">
                <a class="item-attribute-remove-btn"><i class="fa-solid fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div  class="tab scrolls" data-group="primary" data-tab="scroll">
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Limite de tamanho do Pergaminho</label>
          <input type="text" name="system.scroll.scrollMaxSlots" value="{{system.scroll.scrollMaxSlots}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Slots usados: {{system.scroll.scrollUsedSlots}} / {{system.scroll.scrollMaxSlots}}</label>
        </div>
      </div>
      <div class="scroll-items-container">
        <h3>Itens selados</h3>
        <ul class="scroll-items-list">
            {{#each scrollItems as |item|}}
              <li class="scroll-item-card" data-item-id="{{item.data.id}}">
                <div class="info">
                  <img src="{{item.data.img}}">
                  <span>{{item.data.name}}</span>
                  <div class="scroll-item-attributes">
                    <a class="quantity scroll-item-quantity">
                      <i class="fa-solid fa-sack"></i> ({{item.quantity}})
                    </a>
                    <span class="slots">
                      <i class="fa-solid fa-weight-hanging"></i> ({{multiplyWithTwoDecimalsMax item.data.system.slots item.quantity}})
                    </span>
                  </div>
                </div>
                <div class="control">
                  <a class="scroll-item-delete"><i class="fa-solid fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
        </ul>
      </div>
    </div>
    {{/unless}}
  </section>
</form>
