<form class="{{cssClass}} item-move-sheet" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      {{#unless limited}}<a class="item" data-tab="attributes">Attributes</a>{{/unless}}
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  
      {{!-- Attributes Tab --}}
      {{#unless limited}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- As you add new fields, add them in here! --}}
        <div class="resource">
            <div>
                <label class="resource-label">Atributo:</label>
                <i>Atributo que será escolhido na rolagem.</i>
            </div>
            <div class="move-attributes-list">
              {{#each system.attributes as |attribute|}}
                <div class="resource move-attributes-card">
                    <label for="system.attributes.{{attribute.ref}}.on">{{attribute.name}}</label>
                    <input type="checkbox" name="system.attributes.{{attribute.ref}}.on" {{checked attribute.on}}>
                </div>
              {{/each}}
            </div>
        </div>
        <div class="resource">
          <label class="resource-label">Category</label>
          <input type="text" name="system.category" value="{{system.category}}" data-dtype="String"/>
        </div>
        <div class="resource" style="margin-top: 5px;">
          <label class="resource-label">Roll Mode</label>
          <select name="system.rollMode">
            <option value="normal" {{#if (eq system.rollMode "normal")}}selected{{/if}}>Normal</option>
            <option value="custom" {{#if (eq system.rollMode "custom")}}selected{{/if}}>Customizado</option>
          </select>
        </div>
        <hr>
        <div class="npc-move-config">
          <div>
            <label class="resource-label">Is NPC Move</label>
            <input type="checkbox" name="system.isNpcMove" {{checked system.isNpcMove}}>
          </div>
          {{#if system.isNpcMove}}
            <div>
            <label class="resource-label">Move uses</label>
            <div style="display: flex; gap: 15px;">
              <input type="checkbox" name="system.npcUses.on" {{checked system.npcUses.on}}>
              <input type="number" name="system.npcUses.min" value="{{system.npcUses.min}}" data-dtype="String"/> | <input type="number" name="system.npcUses.max" value="{{system.npcUses.max}}" data-dtype="String"/>
            </div>
            </div>
            <div>
            {{#if system.npcUses.on}}
              <label class="resource-label">Consumes NPC Chakra on Reload</label>
              <div style="display: flex; gap: 15px;">
                <input type="checkbox" name="system.npcUses.consumesNPCChakraOnReload.on" {{checked system.npcUses.consumesNPCChakraOnReload.on}}>
                <input type="number" name="system.npcUses.consumesNPCChakraOnReload.value" value="{{system.npcUses.consumesNPCChakraOnReload.value}}" data-dtype="String"/>
              </div>
            {{/if}}
          <div>
            <label class="resource-label">Consumes NPC Chakra on Use</label>
            <div style="display: flex; gap: 15px;">
              <input type="checkbox" name="system.npcMoveConsumesNPCChakraOnUse.on" {{checked system.npcMoveConsumesNPCChakraOnUse.on}}>
              <input type="number" name="system.npcMoveConsumesNPCChakraOnUse.value" value="{{system.npcMoveConsumesNPCChakraOnUse.value}}" data-dtype="String"/>
            </div>
          </div>
          <div>
            <label class="resource-label">Move level</label>
            <div>
              <input type="checkbox" name="system.npcMoveLevel.on" {{checked system.npcMoveLevel.on}}>
              <input type="number" name="system.npcMoveLevel.value" value="{{system.npcMoveLevel.value}}" data-dtype="String"/>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
      {{/unless}}
    </section>
  </form>
  