<form class="{{cssClass}} item-condition-sheet" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      {{#unless limited}}<a class="item" data-tab="attributes">Attributes</a>{{/unless}}
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  
      {{!-- Attributes Tab --}}
      {{#unless limited}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- As you add new fields, add them in here! --}}
        <ul class="condition-attributes-list">
            {{#each system.attributes as |attribute|}}
                <li class="resource conditions-attributes-card">
                    <label class="resource-label">{{attribute.name}}</label>
                    <input type="number" name="system.attributes.{{attribute.ref}}.mod" value="{{attribute.mod}}" data-dtype="String"/>
                </li>
            {{/each}}
        </ul>
        <div class="condition-moves-config-container">
          <a class="add-condition-move-config"><i class="fa-solid fa-plus"></i>Adicionar movimentos.</a>
          <ul class="condition-moves-config-list">
            {{#each system.movesConfigs as |moveConfig|}}
              <li class="condition-moves-config-card" data-id="{{moveConfig.id}}">
                <div class="info">
                  <h3>Alterar movimento: <i>{{moveConfig.moveName}}</i></h3>
                  <div class="input-name">
                    <label>Move name:</label>
                    <input type="text" name="system.movesConfigs.{{moveConfig.id}}.moveName" value="{{moveConfig.moveName}}">
                  </div>
                </div>
                <div class="attributes-configs-container">
                  <ul class="attributes-configs-list">
                    {{#each moveConfig.attributes as |attributeConfig|}}
                      <li class="attributes-configs-card">
                          <div class="info">
                            <label>{{attributeConfig.name}}</label>
                            <input type="number" name="system.movesConfigs.{{moveConfig.id}}.attributes.{{attributeConfig.ref}}.value" value="{{attributeConfig.value}}">
                          </div>
                      </li>
                    {{/each}}
                  </ul>
                </div>
                <div class="control">
                  <a class="remove-condition-move-config"><i class="fa-solid fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/unless}}
    </section>
  </form>
  