<form class="{{cssClass}} item-ability-sheet" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        {{#unless limited}}
        <div class="grid grid-4col">
          <div class="resource">
            <label for="system.level">Nível: </label>
            <input type="number" class="level-input" name="system.level" value="{{system.level}}">
          </div>
          <div class="resource">
            <label for="system.level">Nível Máximo: </label>
            <input type="number" class="level-input" name="system.maxLevel" value="{{system.maxLevel}}">
          </div>
          <div class="resource">
            <label for="system.level">Categoria: </label>
            <input type="text" class="category-input" name="system.category" value="{{system.category}}">
          </div>
        </div>
        {{/unless}}
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <!-- {{#if system.isRankable}}
      {{#if item.isOwned}}
        <div class="resource">
          <span><b>Rank:</b> {{system.rank}}</span>
        </div>  
      {{/if}}
    {{/if}} -->
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="attributes">Attributes</a>
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  
      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- As you add new fields, add them in here! --}}
        <div class="chakra-points-container">
          <h3>Chakra points</h3>
          <div class="grid grid-4col data">
            <div class="resource">
              <label for="system.level">Usa chakra:</label>
              <input type="checkbox" name="system.chakra.useChakraPoints" {{checked system.chakra.useChakraPoints}}>
            </div>
            {{#if system.chakra.useChakraPoints}}
              <div class="resource">
                <label for="system.level">Chakra Points ({{system.chakra.chakraPoints}} / {{system.chakra.maxChakraPoints}}):</label>
                <input type="text" name="system.chakra.chakraPoints" value="{{system.chakra.chakraPoints}}">
              </div>
              <div class="resource">
                <label for="system.level">Por nível:</label>
                <input type="text" name="system.chakra.chakraPointsPerLevel" value="{{system.chakra.chakraPointsPerLevel}}">
              </div>
              <div class="resource">
                <label for="system.level">Padrão:</label>
                <input type="text" name="system.chakra.defaultChakraPoints" value="{{system.chakra.defaultChakraPoints}}">
              </div>
            {{/if}}
          </div>
        </div>
        <!-- <div class="resource">
          <label for="system.level">Pode ter Rank: </label>
          <input type="checkbox" class="rank-input" name="system.isRankable" {{checked system.isRankable}}>
        </div> -->
        <div class="ability-resources-container">
          <div class="section-button">
            <a class="add-ability-resource"><i class="fa-solid fa-plus"></i> Add Resource</a>
          </div>
          <ul class="ability-resources-list">
            {{#each system.resources as |resource|}}
              <li class="ability-resources-card" data-item-id="{{resource.id}}">
                <div class="data">
                  <div>
                    <span>Show:</span>
                    <input class="ability-resource-card-checkbox" type="checkbox" {{checked resource.show}} />
                  </div>
                  <div>
                    <span>Name:</span>
                    <input class="ability-resource-input" type="text" value="{{resource.name}}" data-input-objective="name">
                  </div>
                  <div>
                    <span>Value:</span>
                    <input class="ability-resource-input" type="text" value="{{resource.value}}" data-input-objective="value">
                  </div>
                  <div>
                    <span>Max value:</span>
                    <input class="ability-resource-input" type="text" value="{{resource.maxValue}}" data-input-objective="maxValue">
                  </div>
                </div>
                <div class="control">
                  <a class="ability-resource-remove-btn"><i class="fa-solid fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="level-descriptions-container">
          <div class="section-button">
            <a class="add-level-description-btn"><i class="fa-solid fa-plus"></i> Add Level Description</a>
          </div>
          <ul class="level-descriptions-list">
            {{#each system.levelDescriptions as |levelDescription|}}
              <li class="level-descriptions-card" data-item-id="{{levelDescription.id}}">
                <div class="data">
                  <div>
                    <span>Level:</span>
                    <input class="level-description-input" type="text" value="{{levelDescription.level}}" data-input-objective="level">
                  </div>
                  <div>
                    <span>Description:</span>
                    <input class="level-description-input" type="text" value="{{levelDescription.description}}" data-input-objective="description">
                  </div>
                </div>
                <div class="controls">
                  <a class="level-description-remove-btn"><i class="fa-solid fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </section>
  </form>
  