<form class="{{cssClass}} item-move-sheet" autocomplete="off">
    <header class="sheet-header">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
    </header>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      {{#unless limited}}<a class="item" data-tab="attributes">Attributes</a>{{/unless}}
    </nav>
  
    {{!-- Sheet Body --}}
    <section class="sheet-body">
  
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
        {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
  
      {{!-- Attributes Tab --}}
      {{#unless limited}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- As you add new fields, add them in here! --}}
        <div class="resource">
            <div>
                <label class="resource-label">Atributo:</label>
                <i>Atributo que será escolhido na rolagem.</i>
            </div>
            <div class="move-attributes-list">
              {{#each system.attributes as |attribute|}}
                <div class="resource move-attributes-card">
                    <label for="system.attributes.{{attribute.name}}.on">{{attribute.name}}</label>
                    <input type="checkbox" name="system.attributes.{{attribute.name}}.on" {{checked attribute.on}}>
                </div>
              {{/each}}
            </div>
        </div>
        <div class="resource">
          <label class="resource-label">Category</label>
          <input type="text" name="system.category" value="{{system.category}}" data-dtype="String"/>
        </div>
      </div>
      {{/unless}}
    </section>
  </form>
  